table.row
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        a(href="https://api.trade.iqbroker.com/v1/multi-links/open-asset?aff=7&afftrack=mail_mail_welcome&retrack=mail_welcome&type=forex&asset=1" universal="true" target="_blank")
                            img.logo.center(src="https://fsms.quadcode.com/storage/public/d5/ss/e6gggnfnh4cs771g/logo-broker.png")

table.row.brad-full.color-bg
    tr
        td.wrapper.last.pt0
            table.twelve.columns
                tr
                    td.pb10
                        a(href="#" universal="true" target="_blank")
                            img.center(src="https://fsms.quadcode.com/storage/public/d5/sq/h08ggnfnh4cs7710/broker-welcome-top.png")
  
    tr
        td.wrapper.last.offset-by-one.pt0
            table.ten.columns
                tr
                    td.text-pad-small.pb50.pt10
                        p.white-title.pb16 ${{ welcome-broker.block_01 }}$
                        p.white-text.pb8  ${{ welcome-broker.block_02 }}$
                        p.white-text  ${{ welcome-broker.block_03 }}$
                        //- div.gmail-blend-screen
                        //-     div.gmail-blend-diff
                        .h-24 &nbsp;
                        .left-button 
                            table(align="left" style="width: 100%;")
                                tr
                                    td.butt.pb0
                                        a.butt-link(href="https://api.trade.iqbroker.com/v1/multi-links/open-asset?aff=7&afftrack=mail_welcome&retrack=mail_welcome" universal="true" target="_blank") ${{ welcome-broker.block_04 }}$

                        .right-button
                            table(align="left" style="width: 100%;")
                                tr
                                    td.butt.butt-2.pb0
                                        a.butt-link-2(href="https://play.google.com/store/apps/details?id=iq.broker" universal="true" target="_blank") ${{ welcome-broker.block_05 }}$

                        .h-24 &nbsp;
                        p.demo-note Table-based CTA example
                        +cta-two-column-table(
                            'https://api.trade.iqbroker.com/v1/multi-links/open-asset?aff=7&afftrack=mail_welcome&retrack=mail_welcome',
                            '${{ welcome-broker.block_04 }}$',
                            'https://play.google.com/store/apps/details?id=iq.broker',
                            '${{ welcome-broker.block_05 }}$'
                        )

.h-12 &nbsp;

table.row.brad-full.color-bg(style="border: 4px solid #1A1D1E;")
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb44.pt44.bb

                        p.middle-title.pb32 ${{ welcome-broker.block_06 }}$
                        table.w100
                            tr
                                td.m-w.pb0(style="vertical-align: top;")
                                    p.number 1
                                td.w-a.pb0(style="vertical-align: middle;")
                                    p.fat-text ${{ welcome-broker.block_07 }}$

                        .h-24 &nbsp;

                        .smal-button-left
                            table(align="left" style="width: 100%;")
                                tr
                                    td.butt.butt-small.pb0
                                        a.butt-link-middle(href="#" universal="true" target="_blank") ${{ welcome-broker.block_08 }}$

                        a(href="#" universal="true" target="_blank")
                            img.arrows-horisontal(src="https://fsms.quadcode.com/storage/public/d5/sq/h0fvhhgea139ujn0/arrows-horizontal.png")
                        a(href="#" universal="true" target="_blank")
                            img.arrows-vert(src="https://fsms.quadcode.com/storage/public/d5/sq/h00ggnfnh4cs76vg/arrow-topbot.png")

                        .smal-button-right
                            table(align="left" style="width: 100%;")
                                tr
                                    td.butt.butt-small.pb0
                                        a.butt-link-middle(href="#" universal="true" target="_blank") ${{ welcome-broker.block_09 }}$

                        .h-24 &nbsp;
                        p.demo-note Table-based switch row example
                        +cta-switch-table(
                            '#',
                            '${{ welcome-broker.block_08 }}$',
                            '#',
                            '${{ welcome-broker.block_09 }}$',
                            'https://fsms.quadcode.com/storage/public/d5/sq/h0fvhhgea139ujn0/arrows-horizontal.png',
                            'https://fsms.quadcode.com/storage/public/d5/sq/h00ggnfnh4cs76vg/arrow-topbot.png'
                        )
   
                        p.gray-text.pt24.pb24 ${{ welcome-broker.block_10 }}$

                        a(href="#" universal="true" target="_blank")
                            img.center.pb32(src="https://fsms.quadcode.com/storage/public/d5/st/s67vhhgea139ujq0/1-1.png")

                        table.w280(align="center" style="width: 100%;")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.iqbroker.com/v1/multi-links/deposit?aff=7&afftrack=mail_welcome&retrack=mail_welcome" universal="true" target="_blank") ${{ welcome-broker.block_11 }}$

                tr
                    td.text-pad-small.pb44.pt44.bb
    
                        table.w100
                            tr
                                td.m-w.pb0(style="vertical-align: top;")
                                    p.number 2
                                td.w-a.pb0(style="vertical-align: middle;")
                                    p.fat-text ${{ welcome-broker.block_12 }}$

                        .h-24 &nbsp;

                        .smal-button-left
                            table(align="left" style="width: 100%;")
                                tr
                                    td.butt.butt-small.pb0
                                        a.butt-link-middle(href="#" universal="true" target="_blank") ${{ welcome-broker.block_13 }}$

                        a(href="#" universal="true" target="_blank")
                            img.arrows-horisontal(src="https://fsms.quadcode.com/storage/public/d5/sq/h0fvhhgea139ujn0/arrows-horizontal.png")
                        a(href="#" universal="true" target="_blank")
                            img.arrows-vert(src="https://fsms.quadcode.com/storage/public/d5/sq/h00ggnfnh4cs76vg/arrow-topbot.png")

                        .smal-button-right
                            table(align="left" style="width: 100%;")
                                tr
                                    td.butt.butt-small.pb0
                                        a.butt-link-middle(href="#" universal="true" target="_blank") ${{ welcome-broker.block_14 }}$
 
                        .h-24 &nbsp;
                        a(href="#" universal="true" target="_blank")
                            img.center(src="https://fsms.quadcode.com/storage/public/d5/sq/h0fvhhgea139ujng/welcome-img.png")

                tr
                    td.text-pad-small.pb44.pt44.bb
    
                        table.w100
                            tr
                                td.m-w.pb0(style="vertical-align: top;")
                                    p.number 3
                                td.w-a.pb0(style="vertical-align: middle;")
                                    p.fat-text ${{ welcome-broker.block_15 }}$

                

                        p.gray-text.pt24.pb24 ${{ welcome-broker.block_16 }}$

                        a(href="#" universal="true" target="_blank")
                            img.center(src="https://fsms.quadcode.com/storage/public/d5/sq/h0fvhhgea139ujng/welcome-img.png")

                tr
                    td.text-pad-small.pb44.pt44.bb
    
                        table.w100
                            tr
                                td.m-w.pb0(style="vertical-align: top;")
                                    p.number 4
                                td.w-a.pb0(style="vertical-align: middle;")
                                    p.fat-text ${{ welcome-broker.block_17 }}$

                

                        p.gray-text.pt24.pb24 ${{ welcome-broker.block_18 }}$

                        a(href="#" universal="true" target="_blank")
                            img.center(src="https://fsms.quadcode.com/storage/public/d5/sq/h0fvhhgea139ujog/welcome-img-4.png")

                tr
                    td.text-pad-small.pb68.pt44
    
                        table.w100
                            tr
                                td.m-w.pb0(style="vertical-align: top;")
                                    p.number 5
                                td.w-a.pb0(style="vertical-align: middle;")
                                    p.fat-text ${{ welcome-broker.block_19 }}$

                        .h-24 &nbsp;

                        .smal-button-left
                            table(align="left" style="width: 100%;")
                                tr
                                    td.butt.butt-small.pb0
                                        a.butt-link-middle(href="#" universal="true" target="_blank") ${{ welcome-broker.block_20 }}$

                        a(href="#" universal="true" target="_blank")
                            img.arrows-horisontal(src="https://fsms.quadcode.com/storage/public/d5/sq/h0fvhhgea139ujn0/arrows-horizontal.png")
                        a(href="#" universal="true" target="_blank")
                            img.arrows-vert(src="https://fsms.quadcode.com/storage/public/d5/sq/h00ggnfnh4cs76vg/arrow-topbot.png")

                        .smal-button-right
                            table(align="left" style="width: 100%;")
                                tr
                                    td.butt.butt-small.pb0
                                        a.butt-link-middle(href="#" universal="true" target="_blank") ${{ welcome-broker.block_21 }}$
                        
                        .h-24 &nbsp;

                        a(href="#" universal="true" target="_blank")
                            img.center.pb32(src="https://fsms.quadcode.com/storage/public/d5/sq/h0fvhhgea139ujo0/welcome-img-5.png")

                        table.w280(align="center" style="width: 100%;")
                            tr
                                td.butt.pb0
                                    a.butt-link(href="https://api.trade.iqbroker.com/v1/multi-links/open-asset?aff=7&afftrack=mail_welcome&retrack=mail_welcome" universal="true" target="_blank") ${{ welcome-broker.block_22 }}$

.h-12 &nbsp;

mixin bottom-hero-content()
    table.row.brad-full.bg-img-bottom(style="border: 4px solid #FF5500;")
        tr
            td.wrapper.last.offset-by-one
                table.ten.columns
                    tr
                        td.text-pad-small.pb44.pt44
                            .w290 
                                p.middle-title.pb12.ta-center ${{ welcome-broker.block_23 }}$
                                p.text-2.pb28.ta-center ${{ welcome-broker.block_24 }}$
                            
                                table.w280.centet(style="border-collapse: initial;" align="center")
                                    tr
                                        td.butt.pb0
                                            a.butt-link(href="https://api.trade.iqbroker.com/v1/multi-links/deposit?aff=7&afftrack=mail_welcome&retrack=mail_welcome" universal="true" target="_blank") ${{ welcome-broker.block_25 }}$

+vml-bg('https://fsms.quadcode.com/storage/public/d5/sq/h08ggnfnh4cs770g/welcome-bottom-img.png', '#101314', 580, 240)
    +bottom-hero-content()

.h-24 &nbsp;
table.row
    tr
        td.wrapper.last.offset-by-one
            table.ten.columns
                tr
                    td.text-pad-small.pb0
                        p.demo-note Fixed VML background example

+vml-bg-fixed('https://fsms.quadcode.com/storage/public/d5/sq/h08ggnfnh4cs770g/welcome-bottom-img.png', '#101314', 580, 240)
    +bottom-hero-content()

table.row
    tr
        td.wrapper.last.pt68.offset-by-one
            table.ten.columns
                tr
                    td.pb32.text-pad-small
                        .stor.center
                            a(href="https://apps.apple.com/tn/app/iqbroker-trade-with-focus/id6752568298" target="_blank")
                                img.a-app(src="https://fsms.quadcode.com/storage/public/d5/tk/bqfvhhgea139uk40/app-iqbr-1.png")
                            a(href="https://play.google.com/store/apps/details?id=iq.broker" target="_blank")
                                img.a-google(src="https://fsms.quadcode.com/storage/public/d5/tj/q6nvhhgea139uk30/glg-str-1.png")

table.row
    tr
        td.wrapper.last.pt30
            table.twelve.columns
                tr
                    td(align="center").pb0.center
                        .socials.center
                            a.first-link(href="https://www.facebook.com/iqbroker.global/" target="_blank")
                                img.soc-icon.fb(src="https://fsms.quadcode.com/storage/public/d5/su/7b8ggnfnh4cs7730/fb.png")
                            a(href="https://www.instagram.com/iq_broker_official/" target="_blank")
                                img.soc-icon.twitter(src="https://fsms.quadcode.com/storage/public/d5/su/7b8ggnfnh4cs772g/ig.png")
                            a(href="https://www.youtube.com/@iqbroker" target="_blank")
                                img.soc-icon.you(src="https://fsms.quadcode.com/storage/public/d5/su/7bfvhhgea139ujqg/yt.png")
                            a.last-link(href="https://x.com/iqbroker_off" target="_blank")
                                img.soc-icon.ig(src="https://fsms.quadcode.com/storage/public/d5/su/7bfvhhgea139ujr0/tw.png")
